body {
  font-family: "Caveat";
}

h1 {
  display: block;
  margin: 0 auto;
  color: #00bcd4;
  font-size: 90px;
  text-align: center;
  padding: 20px;
}
ul {
  display: block;
  margin: 0;
  list-style: none;
  padding-inline-start: 0px;
}

.container {
  height: 700px;
  width: 800px;
  margin: 20px auto;
}
.weatherApp {
  box-shadow: #dadde1 10px 10px;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 6px;
  border: 1px solid #dadde1;
}
.weatherAppContainer {
  margin: 30px auto;
  max-width: 600px;
}
.forecast {
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

.forecastTemp {
  font-size: 20px;
}
.forecastDay {
  font-weight: bolder;
}
.col-6 {
  font-size: 60px;
}
.middleText {
  font-size: 40px;
  text-align: center;
}
.verbiage {
  text-align: center;
  font-size: 30px;
  color: #00bcd4;
}
.weatherDescription {
  font-size: 50px;
  text-size-adjust: auto;
  text-transform: capitalize;
  line-height: 1;
  margin-left: -75px;
  align-items: center;
  justify-content: center;
}
.units {
  font-size: 15px;
  position: relative;
  top: -34px;
  left: -10px;
}
.units .active {
  color: black;
  cursor: default;
}

.units .active {
  text-decoration: none;
}
.mainTemp {
  font-size: 80px;
}
.emoji {
  font-size: 80px;
  margin-left: 80px;
}
