body {
  font-family: "Caveat";
}

h1 {
  display: block;
  margin: 0 auto;
  color: #00bcd4;
  font-size: 90px;
  text-align: center;
  padding: 20px;
}
ul {
  display: block;
  margin: 0;
  list-style: none;
  padding-inline-start: 0px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}
.weatherApp {
  box-shadow: #dadde1 10px 10px;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 6px;
  border: 1px solid #dadde1;
  box-sizing: border-box;
}
.weatherAppContainer {
  margin: 30px auto;
  max-width: 800px;
}
.weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.weather-forecast {
  margin: 10px;
  padding: 20px;
}
.row {
  display: flex;
}
.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
.middleText {
  font-size: 40px;
  text-align: center;
}
.verbiage {
  text-align: center;
  font-size: 30px;
  color: #00bcd4;
}
.weatherDescription {
  font-size: 50px;
  text-size-adjust: auto;
  text-transform: capitalize;
  line-height: 1;
  margin-left: -75px;
  align-items: center;
  justify-content: center;
}
.units {
  font-size: 15px;
  position: relative;
  top: -34px;
  left: -10px;
}
.units .active {
  color: black;
  cursor: default;
}

.units .active {
  text-decoration: none;
}
.mainTemp {
  font-size: 80px;
}
.emoji {
  font-size: 80px;
  margin-left: 80px;
}
