body {
  font-family: "Caveat";
}
.container {
  height: 700px;
  width: 800px;
  margin: 20px auto;
}
.weatherApp {
  box-shadow: #dadde1 10px 10px;
  padding: 10px 20px;
  margin: 100px auto;
  max-width: 700px;
  border-radius: 6px;
  border: 1px solid #dadde1;
}
.forecast {
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

h1 {
  display: block;
  margin: 0 auto;
  color: #00bcd4;
  font-size: 90px;
  text-align: center;
  padding: 20px;
}
ul {
  display: block;
  list-style: none;
  padding-inline-start: 0px;
}

.forecastTemp {
  font-size: 20px;
}
.forecastDay {
  font-weight: bolder;
}
.col-6 {
  font-size: 60px;
}
.middleText {
  font-size: 50px;
  text-align: center;
}
.verbiage {
  text-align: center;
  font-size: 30px;
  color: #00bcd4;
}
.weatherDescription {
  font-size: 50px;
  text-align: justify;
  width: 62px;
  display: block;
  margin-left: -80px;
  position: relative;
}
.units {
  font-size: 15px;
  position: relative;
  top: -24px;
  left: -10px;
}
.mainTemp {
  font-size: 65px;
}
.emoji {
  font-size: 80px;
  margin-left: 80px;
}
